@charset "UTF-8";


/*
    Paleta de cores 
    Verde:#49a09d
    Roxo:#5f2c82
*/


*{
    font-family: "poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}


section#screen_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459) ;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#screen_login > div#imagem {
    display: block;
    background-image: url(../imagens/Vigas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

section#screen_login > div#formulario {
    display: block;
    padding: 10px;
}

.campo{
    display: inline-block;
    margin-bottom: 5px;
}

.campo input{
    width: 80%;
    border: 1px solid #ccc ;
    border-radius: 5px;
}

.campo label{
    color: rgb(62, 62, 253);    
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8rem;
}